.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

input {
    border: none;
    border-bottom: 1px solid #0068ff;
    padding: 12px 15px;
    margin: 8px 0;
    width: 300px;
}

label {
    color: #6d6d6d;
}

button {
    border-radius: 20px;
    border: 1px solid #0068ff;
    background-color: #0068ff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin: 8px 0;
    cursor: pointer;
}

@media(max-width: 768px) {
    .login {
        box-shadow: none;
    }
}